<div
  class="py-6 flex px-24 justify-between items-center shadow-lg esm:justify-center"
>
  <h1 class="text-4xl mb-0 font-bold font-firaCodeBold esm:hidden">PMC</h1>

  <div
    class="flex space-x-12 font-bold font-firaCodeBold text-lg exm:space-x-6 esm:space-x-10 esm:text-base items-center"
  >
    <p class="mb-0 cursor-pointer">Acerca</p>
    <p class="mb-0 cursor-pointer">Constantes</p>
    <p class="mb-0 cursor-pointer">Contacto</p>

    <button
      class="lg:block hidden px-10 py-2 border-2 border-black text-black bg-white transition-all duration-300 hover:bg-black hover:text-white"
    >
      ESP
    </button>
  </div>
</div>
