<app-nav-bar></app-nav-bar>

<div class="flex w-full justify-center">
    <form action="" class="flex w-full items-center py-7 esm:flex-col esm:space-x-0 exsm:px-3 esm:space-y-4 esm:px-12 sm:px-24 sm:flex-col sm:space-x-0 sm:space-y-4 lg:flex-row lg:space-y-0 lg:space-x-6 md:px-32">
        <nz-input-group nzAddOnBefore="Paciente">
            <input type="text" nz-input [nzSize]="'small'" />
        </nz-input-group>

        <nz-input-group nzAddOnBefore="ID">
            <input type="text" nz-input [nzSize]="'small'" />
        </nz-input-group>

        <nz-input-group nzAddOnBefore="Sexo">
            <nz-select class="w-full">
                <nz-option [nzLabel]="'Hombre'" [nzValue]="'Zhejiang'"></nz-option>
                <nz-option [nzLabel]="'Mujer'" [nzValue]="'Jiangsu'"></nz-option>
            </nz-select>
        </nz-input-group>

        <nz-input-group nzAddOnBefore="K-Index">
            <nz-select class="w-full">
                <nz-option *ngFor="let kIndex of kIndexes" [nzLabel]="kIndex" [nzValue]="kIndex"></nz-option>
            </nz-select>
        </nz-input-group>

        <nz-input-group nzAddOnBefore="Cirujano">
            <input type="text" nz-input [nzSize]="'small'" />
        </nz-input-group>
    </form>
</div>