<div class="shadow-lg rounded-lg py-8 px-10 esm:px-4 esm:py-5">
  <h1 class="font-firaCodeBold text-5xl esm:text-center">{{ odInf }}</h1>

  <form action="" class="flex flex-col w-full space-y-4">
    <nz-input-group nzAddOnBefore="Longitud axial" nzAddOnAfter="mm">
      <nz-input-number
        [nzMin]="1"
        [nzStep]="1"
        class="w-full"
      ></nz-input-number>
    </nz-input-group>

    <nz-input-group nzAddOnBefore="Queratometria media" nzAddOnAfter="D">
      <nz-input-number
        [nzMin]="1"
        [nzStep]="1"
        class="w-full"
      ></nz-input-number>
    </nz-input-group>

    <nz-input-group nzAddOnBefore="Modelo de LIO">
      <nz-select class="w-full">
        <nz-option
          *ngFor="let medida of medidasLentes"
          [nzLabel]="medida.label"
          [nzValue]="medida.value"
        ></nz-option>
      </nz-select>
    </nz-input-group>

    <nz-input-group nzAddOnBefore="Refracción deseada" nzAddOnAfter="D">
      <nz-input-number [nzStep]="0.25" class="w-full"></nz-input-number>
    </nz-input-group>
  </form>
</div>
