<div
  class="shadow-lg rounded-lg py-8 px-10 esm:px-4 esm:py-5 dark:border-2 dark:border-white mt-10"
>
  <h1
    class="font-firaCodeBold text-5xl esm:text-center esm:text-3xl dark:text-white"
  >
    {{ odInf }}
  </h1>

  <form action="" class="flex flex-col w-full gap-4" [formGroup]="parentForm">
    <div class="flex flex-col gap-1" class="md:hidden">
      <label for="" class="dark:text-white">Longitud axial:</label>
      <nz-input-number
        [nzMin]="1"
        [nzStep]="1"
        class="w-full"
        formControlName="al"
      ></nz-input-number>
    </div>
    <nz-input-group
      nzAddOnBefore="Longitud axial"
      nzAddOnAfter="mm"
      class="md:flex hidden"
    >
      <nz-input-number
        [nzMin]="1"
        [nzStep]="1"
        class="w-full"
        formControlName="al"
      ></nz-input-number>
    </nz-input-group>

    <div class="flex flex-col gap-1" class="md:hidden">
      <label for="" class="dark:text-white">Queratometría media:</label>
      <nz-input-number
        [nzMin]="1"
        [nzStep]="1"
        class="w-full"
        formControlName="k"
      ></nz-input-number>
    </div>
    <nz-input-group
      nzAddOnBefore="Queratometría media"
      nzAddOnAfter="D"
      class="md:flex hidden"
    >
      <nz-input-number
        [nzMin]="1"
        [nzStep]="1"
        class="w-full"
        formControlName="k"
      ></nz-input-number>
    </nz-input-group>

    <div class="flex flex-col gap-1" class="md:hidden">
      <label for="" class="dark:text-white">Modelo de LIO:</label>
      <nz-select class="w-full" formControlName="a">
        <nz-option
          *ngFor="let medida of medidasLentes"
          [nzLabel]="medida.label"
          [nzValue]="medida.label"
        ></nz-option>
      </nz-select>
    </div>
    <nz-input-group nzAddOnBefore="Modelo de LIO" class="md:flex hidden">
      <nz-select class="w-full" formControlName="a">
        <nz-option
          *ngFor="let medida of medidasLentes"
          [nzLabel]="medida.label"
          [nzValue]="medida.label"
        ></nz-option>
      </nz-select>
    </nz-input-group>

    <div class="flex flex-col gap-1" class="md:hidden">
      <label for="" class="dark:text-white">Refracción deseada:</label>
      <nz-input-number
        [nzStep]="0.25"
        class="w-full"
        formControlName="re"
      ></nz-input-number>
    </div>
    <nz-input-group
      nzAddOnBefore="Refracción deseada"
      nzAddOnAfter="D"
      class="md:flex hidden"
    >
      <nz-input-number
        [nzStep]="0.25"
        class="w-full"
        formControlName="re"
      ></nz-input-number>
    </nz-input-group>
  </form>
</div>
